In [68]:
import pandas as pd
import numpy as np

In [69]:
data = pd.read_csv("ceidg_data_surv.csv")
raw_data = data
data.head()

,Status,YearOfStartingOfTheBusiness,DateOfStartingOfTheBusiness,DateOfTermination,Terminated,DurationOfExistenceInMonths,MainAddressVoivodeship,MainAddressCounty,MainAddressTERC,CorrespondenceAddressVoivodeship,...,HasPolishCitizenship,ShareholderInOtherCompanies,PKDMainSection,PKDMainDivision,PKDMainGroup,PKDMainClass,NoOfUniquePKDSections,NoOfUniquePKDDivsions,NoOfUniquePKDGroups,NoOfUniquePKDClasses
0,Aktywny,2011,2011-10-12,NaN,0,98,DOLNOŚLĄSKIE,WROCłAWSKI,223052.0,DOLNOŚLĄSKIE,...,True,False,M,70.0,702.0,7022.0,2,3,5,6
1,Wykreślony,2011,2011-01-01,2015-08-06,1,55,MAZOWIECKIE,WARSZAWA,1465078.0,MAZOWIECKIE,...,True,False,F,43.0,432.0,4322.0,1,1,1,1
2,Wykreślony,2011,2011-06-01,2017-06-29,1,72,MAZOWIECKIE,WARSZAWA,1465011.0,MAZOWIECKIE,...,True,False,Q,86.0,862.0,8623.0,1,1,2,2
3,Wykreślony,2011,2011-12-15,2014-12-19,1,36,MAZOWIECKIE,WARSZAWA,1465078.0,MAZOWIECKIE,...,True,False,F,43.0,432.0,4321.0,2,2,2,2
4,Wykreślony,2011,2011-02-01,2012-03-06,1,13,MAZOWIECKIE,WARSZAWA,1465108.0,MAZOWIECKIE,...,True,False,G,47.0,479.0,4791.0,2,3,5,7

In [70]:
data.columns.tolist()

['Status',
 'YearOfStartingOfTheBusiness',
 'DateOfStartingOfTheBusiness',
 'DateOfTermination',
 'Terminated',
 'DurationOfExistenceInMonths',
 'MainAddressVoivodeship',
 'MainAddressCounty',
 'MainAddressTERC',
 'CorrespondenceAddressVoivodeship',
 'CorrespondenceAddressCounty',
 'CorrespondenceAddressTERC',
 'MainAndCorrespondenceAreTheSame',
 'NoOfAdditionalPlaceOfTheBusiness',
 'IsPhoneNo',
 'IsEmail',
 'IsWWW',
 'CommunityProperty',
 'HasLicences',
 'NoOfLicences',
 'Sex',
 'HasPolishCitizenship',
 'ShareholderInOtherCompanies',
 'PKDMainSection',
 'PKDMainDivision',
 'PKDMainGroup',
 'PKDMainClass',
 'NoOfUniquePKDSections',
 'NoOfUniquePKDDivsions',
 'NoOfUniquePKDGroups',
 'NoOfUniquePKDClasses']

In [71]:
data = data[[
    'DateOfTermination',
    'Terminated',
    'DurationOfExistenceInMonths',
    'MainAddressVoivodeship',
    'PKDMainSection',
    'PKDMainDivision',
]]

data.head()

,DateOfTermination,Terminated,DurationOfExistenceInMonths,MainAddressVoivodeship,PKDMainSection,PKDMainDivision
0,NaN,0,98,DOLNOŚLĄSKIE,M,70.0
1,2015-08-06,1,55,MAZOWIECKIE,F,43.0
2,2017-06-29,1,72,MAZOWIECKIE,Q,86.0
3,2014-12-19,1,36,MAZOWIECKIE,F,43.0
4,2012-03-06,1,13,MAZOWIECKIE,G,47.0

In [72]:
for v in np.sort(data['MainAddressVoivodeship'].astype(str).unique()): print(v)

BRAńSZCZYK
BRZOZÓW
CHODZIEŻ
CZERSK
CZŁUCHÓW
DESZCZNO
DOLNOSLąSKIE
DOLNOŚLĄSKIE
DOLNOśLąSKIE
GORZÓW WLKP.
HAJNWKA
KOBYLANKA
KRAKÓW
KUJ POMORSKIE
KUJAWSKO-POMORSKIE
KUJAWSKOPOMORSKIE
KWIDZYN
LUBELSKIE
LUBUSKIE
MALOPOLSKIE
MAZOPWIECKIE
MAZOWIECKIE
MAŁOPLSKIE
MAŁOPOLSKA
MAŁOPOLSKIE
MAłOPOLSKIE
MIELNO
MIłOSłAW
OPALENICA
OPOLSKIE
PODKARPACKIE
PODLASKIE
POLANICA-ZDRóJ
POLSKA
POMORSKI
POMORSKIE
RZEPIENNIK STRZYżEWSKI
SANOK
SKOKI
SOCHACZEW
STARGARD SZCZECIŃSKI
SWIĘTOKTRZYSKIE
SZAMOCIN
SZCZECIN
TOLKMICKO
WARM-MAZ
WARMIŃSKO-MAZURSKIE
WARMIńSKO-MAZURSKIE
WARMIńSKO-MAZURSKIEGO
WARMI�SKO-MAZURSKIE
WIELKOPOLSKA
WIELKOPOLSKI
WIELKOPOLSKIE
WIELSKOPOLSKIE
ZACHODNIOPOMORSKI
ZACHODNIOPOMORSKIE
ZACHODNO-POMORSKIE
ZACHONDIOPOMORSKIE
ZAGóRZ
ZALESZANY
nan
ŁÓDZKIE
ŁóDZKIE
łODZKIE
łÓDZKIE
łóDZKIE
ŚLĄSKIE
ŚLąSKIE
ŚWIETOKRZYSKIE
ŚWIĘTOKRZYSKIE
ŚWIęTOKRZYSKIE
śLASKIE
śLąSKIE
śWIęTOKRZYSKIE

In [73]:
data['MainAddressVoivodeship'] = data['MainAddressVoivodeship'].str\
    .lower()\
    .replace('ą', 'a', regex=True)\
    .replace('ć', 'c', regex=True)\
    .replace('ę', 'e', regex=True)\
    .replace('ł', 'l', regex=True)\
    .replace('ń', 'n', regex=True)\
    .replace('ó', 'o', regex=True)\
    .replace('ś', 's', regex=True)\
    .replace('ź', 'z', regex=True)\
    .replace('ż', 'z', regex=True)

for v in np.sort(data['MainAddressVoivodeship'].astype(str).unique()): print(v)

branszczyk
brzozow
chodziez
czersk
czluchow
deszczno
dolnoslaskie
gorzow wlkp.
hajnwka
kobylanka
krakow
kuj pomorskie
kujawsko-pomorskie
kujawskopomorskie
kwidzyn
lodzkie
lubelskie
lubuskie
maloplskie
malopolska
malopolskie
mazopwieckie
mazowieckie
mielno
miloslaw
nan
opalenica
opolskie
podkarpackie
podlaskie
polanica-zdroj
polska
pomorski
pomorskie
rzepiennik strzyzewski
sanok
skoki
slaskie
sochaczew
stargard szczecinski
swietokrzyskie
swietoktrzyskie
szamocin
szczecin
tolkmicko
warm-maz
warminsko-mazurskie
warminsko-mazurskiego
warmi�sko-mazurskie
wielkopolska
wielkopolski
wielkopolskie
wielskopolskie
zachodniopomorski
zachodniopomorskie
zachodno-pomorskie
zachondiopomorskie
zagorz
zaleszany

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [74]:
data['MainAddressVoivodeship'] = data['MainAddressVoivodeship']\
.replace(['kuj pomorskie', 'kujawskopomorskie'], 'kujawsko-pomorskie')\
.replace(['maloplskie', 'malopolska'], 'malopolskie')\
.replace(['mazopwieckie'], 'mazowieckie')\
.replace(['pomorski'], 'pomorskie')\
.replace(['swietoktrzyskie'], 'swietokrzyskie')\
.replace(['warminsko-mazurskiego', 'warmi�sko-mazurskie', 'warm-maz'], 'warminsko-mazurskie')\
.replace(['wielkopolska', 'wielkopolski', 'wielskopolskie'], 'wielkopolskie')\
.replace(['zachodniopomorski', 'zachodno-pomorskie', 'zachondiopomorskie'], 'zachondiopomorskie')

for v in np.sort(data['MainAddressVoivodeship'].astype(str).unique()): print(v)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

branszczyk
brzozow
chodziez
czersk
czluchow
deszczno
dolnoslaskie
gorzow wlkp.
hajnwka
kobylanka
krakow
kujawsko-pomorskie
kwidzyn
lodzkie
lubelskie
lubuskie
malopolskie
mazowieckie
mielno
miloslaw
nan
opalenica
opolskie
podkarpackie
podlaskie
polanica-zdroj
polska
pomorskie
rzepiennik strzyzewski
sanok
skoki
slaskie
sochaczew
stargard szczecinski
swietokrzyskie
szamocin
szczecin
tolkmicko
warminsko-mazurskie
wielkopolskie
zachodniopomorskie
zachondiopomorskie
zagorz
zaleszany

In [75]:
voivodes = ['dolnośląskie',
 'kujawsko-pomorskie',
 'lubelskie',
 'lubuskie',
 'łódzkie',
 'małopolskie',
 'mazowieckie',
 'opolskie',
 'podkarpackie',
 'podlaskie',
 'pomorskie',
 'śląskie',
 'świętokrzyskie',
 'warmińsko-mazurskie',
 'wielkopolskie',
 'zachodniopomorskie']

vdict = {
    v.replace('ą', 'a')\
    .replace('ć', 'c')\
    .replace('ę', 'e')\
    .replace('ł', 'l')\
    .replace('ń', 'n')\
    .replace('ó', 'o')\
    .replace('ś', 's')\
    .replace('ź', 'z')\
    .replace('ż', 'z') : v
    for v in voivodes
}

vdict

{'dolnoslaskie': 'dolnośląskie',
 'kujawsko-pomorskie': 'kujawsko-pomorskie',
 'lubelskie': 'lubelskie',
 'lubuskie': 'lubuskie',
 'lodzkie': 'łódzkie',
 'malopolskie': 'małopolskie',
 'mazowieckie': 'mazowieckie',
 'opolskie': 'opolskie',
 'podkarpackie': 'podkarpackie',
 'podlaskie': 'podlaskie',
 'pomorskie': 'pomorskie',
 'slaskie': 'śląskie',
 'swietokrzyskie': 'świętokrzyskie',
 'warminsko-mazurskie': 'warmińsko-mazurskie',
 'wielkopolskie': 'wielkopolskie',
 'zachodniopomorskie': 'zachodniopomorskie'}

In [76]:
data['MainAddressVoivodeship'] = data['MainAddressVoivodeship'].replace(vdict)

for v in np.sort(data['MainAddressVoivodeship'].astype(str).unique()): print(v)

branszczyk
brzozow
chodziez
czersk
czluchow
deszczno
dolnośląskie
gorzow wlkp.
hajnwka
kobylanka
krakow
kujawsko-pomorskie
kwidzyn
lubelskie
lubuskie
mazowieckie
małopolskie
mielno
miloslaw
nan
opalenica
opolskie
podkarpackie
podlaskie
polanica-zdroj
polska
pomorskie
rzepiennik strzyzewski
sanok
skoki
sochaczew
stargard szczecinski
szamocin
szczecin
tolkmicko
warmińsko-mazurskie
wielkopolskie
zachodniopomorskie
zachondiopomorskie
zagorz
zaleszany
łódzkie
śląskie
świętokrzyskie

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
data['MainAddressVoivodeship'] = data[data['MainAddressVoivodeship'].isin(voivodes)]['MainAddressVoivodeship']

for v in np.sort(data['MainAddressVoivodeship'].astype(str).unique()): print(v)

dolnośląskie
kujawsko-pomorskie
lubelskie
lubuskie
mazowieckie
małopolskie
nan
opolskie
podkarpackie
podlaskie
pomorskie
warmińsko-mazurskie
wielkopolskie
zachodniopomorskie
łódzkie
śląskie
świętokrzyskie

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
data.head()

,DateOfTermination,Terminated,DurationOfExistenceInMonths,MainAddressVoivodeship,PKDMainSection,PKDMainDivision
0,NaN,0,98,dolnośląskie,M,70.0
1,2015-08-06,1,55,mazowieckie,F,43.0
2,2017-06-29,1,72,mazowieckie,Q,86.0
3,2014-12-19,1,36,mazowieckie,F,43.0
4,2012-03-06,1,13,mazowieckie,G,47.0

In [79]:
data['DateOfTermination'] = pd.to_datetime(data['DateOfTermination'], format='%Y-%m-%d')

data['YearOfTermination'] = data['DateOfTermination'].dt.year
data['MonthOfTermination'] = data['DateOfTermination'].dt.month

data.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,DateOfTermination,Terminated,DurationOfExistenceInMonths,MainAddressVoivodeship,PKDMainSection,PKDMainDivision,YearOfTermination,MonthOfTermination
0,NaT,0,98,dolnośląskie,M,70.0,NaN,NaN
1,2015-08-06,1,55,mazowieckie,F,43.0,2015.0,8.0
2,2017-06-29,1,72,mazowieckie,Q,86.0,2017.0,6.0
3,2014-12-19,1,36,mazowieckie,F,43.0,2014.0,12.0
4,2012-03-06,1,13,mazowieckie,G,47.0,2012.0,3.0

In [80]:
data = data.drop(columns=['DateOfTermination'])

data.head()

,Terminated,DurationOfExistenceInMonths,MainAddressVoivodeship,PKDMainSection,PKDMainDivision,YearOfTermination,MonthOfTermination
0,0,98,dolnośląskie,M,70.0,NaN,NaN
1,1,55,mazowieckie,F,43.0,2015.0,8.0
2,1,72,mazowieckie,Q,86.0,2017.0,6.0
3,1,36,mazowieckie,F,43.0,2014.0,12.0
4,1,13,mazowieckie,G,47.0,2012.0,3.0

In [81]:
data = data.groupby(list(data.columns)).size().reset_index()

data.head()

,Terminated,DurationOfExistenceInMonths,MainAddressVoivodeship,PKDMainSection,PKDMainDivision,YearOfTermination,MonthOfTermination,0
0,1,-2,podkarpackie,H,52.0,2011.0,10.0,1
1,1,-2,warmińsko-mazurskie,G,47.0,2011.0,10.0,1
2,1,-2,łódzkie,E,39.0,2011.0,10.0,1
3,1,-2,łódzkie,Q,86.0,2011.0,10.0,1
4,1,-2,śląskie,G,46.0,2011.0,10.0,1

In [83]:
print('before:', len(raw_data))
print('after:', len(data))

before: 287026
after: 120961